<p id="notice"><%= notice %></p>

<%= image_tag @gif.image_url %>
<p>
  <strong>Uploaded By: </strong>
  <%= @gif.user.name %>
</p>
<p><%= linked_tag_list @gif %></p>




<%= link_to 'Edit', edit_gif_path(@gif) if user_signed_in? && current_user.id == @gif.user_id %> |
<%= link_to 'Back', gifs_path %>
